
.report-details {
  background: #F8F9FB;
  border-radius: 12px;
  margin: 8px 0 8px 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  box-shadow: 0px 2px 8px rgba(50,100,200,0.04);
  display: flex;
  flex-direction: column;
  font-family: 'Grotesk', sans-serif;
}

.report-title-card {
  background: #01189B;
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 20px 20px 12px 20px;
  margin-bottom: 0;
  margin-top: -8px;
  letter-spacing: 1px;
  font-family: 'Space Grotesk', 'Grotesk', sans-serif;
}
.report-title {
  font-size: 1.6rem;
  font-weight: bold;
}


.report-content {
  padding: 10px 24px 0 24px;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.report-info {
  font-size: 1.09rem;
  color: #21242b;
  line-height: 1.35;
  font-family: 'Grotesk', sans-serif;
}


.report-info > div {
  margin-bottom: 6px;
}


.report-info strong {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #1a1a1a;
}


.report-reporter {
  background: #01189B;
  color: #fff;
  border-radius: 10px;
  width: 480px;
  max-width: calc(100vw - 64px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
  position: absolute;
  left: 24px;
  bottom: 20px;
  margin-top: 0;
  word-break: break-all;
  overflow-wrap: anywhere;
}


.reporter-label {
  font-size: 1.02rem;
  font-weight: 500;
  font-family: 'Grotesk', sans-serif;
}


.reporter-name {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 3px;
  font-family: 'Grotesk', sans-serif;
}


.reporter-contact {
  display: flex;
  align-items: center;
  font-size: 0.96rem;
  gap: 12px;
  margin-top: 5px;
  flex-wrap: wrap;
  font-family: 'Grotesk', sans-serif;
}


.reporter-icon {
  margin-right: 1px;
  font-size: 1.00em;
}