@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Global resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #ffffff;
  color: #111;
}

/* Figma Variables */
:root {
  --color-primary: #01189B;
  --color-dark: #DDDDDD;

  --color-light1: #FAFAFA;
  --color-light2: #B1BAD3;

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;
}